* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 355px;
  margin: 0 auto;
}

.main {
  background-color: rgba(249, 184, 0, 0.08);
  background-image: url("../images/background.png");
  padding-top: 40px;
}

.online-shopping {
  background: rgb(249, 184, 0);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.online-shopping__button {
  border-radius: 1000px;
  background: rgb(38, 38, 38);
  padding: 16px 38px;
  border: 0;
  color: rgb(255, 255, 255);
  width: 100%;
  font-family: Segoe UI;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  display: flex;
  justify-content: space-between;
}

.online-shopping__wrapper {
  padding: 0 22px 22px 22px;
}

.online-shopping__title {
  color: rgb(38, 38, 38);
  font-family: Segoe UI;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 20px;
}

.online-shopping__subtitle {
  color: rgb(38, 38, 38);
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  text-decoration-line: underline;
  margin-bottom: 12px;
}

.online-shopping__paragraph {
  color: rgb(38, 38, 38);
  font-family: Segoe UI;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 30px;
}

@media (min-width: 375px) {
  .container {
    width: 1700px;
  }

  .online-shopping {
    flex-direction: row-reverse;
    /* text-align: unset; */
  }
}
